POSTGRES_DB=meu_historico_saude
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change_me
NEXTCLOUD_USER=nextcloud
NEXTCLOUD_PASSWORD=change_me
NEXTCLOUD_HOST=http://localhost

# Keycloak database
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me

# Keycloak administration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

# OAuth2 clients
AI_PROCESSING_CLIENT_SECRET=change-me
PATIENT_DOCUMENT_DEV_CLIENT_SECRET=change-me

APP_STORAGE_LOCAL_PATH=./storage/documents

# OAuth2 Resource Server
IAM_ISSUER_URI=http://localhost:8081/realms/meu-historico-saude
IAM_JWK_SET_URI=http://localhost:8081/realms/meu-historico-saude/protocol/openid-connect/certs
IAM_AUDIENCE=patient-document-api
