POSTGRES_DB=meu_historico_saude
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=change_me
NEXTCLOUD_USER=nextcloud
NEXTCLOUD_PASSWORD=change_me
NEXTCLOUD_HOST=localhost

APP_STORAGE_LOCAL_PATH=./storage/documents